@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@media (max-width: 844px) {
    /* … */
    .video-fondo {
        display: none;
    }
    .video-fondo-vertical {
        display: block;
    }
    video {
        width: 1000px;
        height: 950px;
        position: absolute;
        top: 0!important;
        left: 0;
        scale: 1.4;
    }
}

@media (min-width: 844px) {
    /* … */
    .video-fondo {
        display: block;
    }
    .video-fondo-vertical {
        display: none;
    }
    video {
        width: 1800px;
        height: 1050px;
        position: absolute;
        top: 0;
        left: 0;
        scale: 1.2;
    }
}


/* 
@media ( max-width: 1199px) {
  .video-fondo {
    display: block;
  }
  .video-fondo-vertical {
    display: none !important;
  }
  video {
    width: auto;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
… */